@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

body {
  margin: 0;
  color: white;
  font-family: 'League Spartan', sans-serif;
  cursor: pointer;
}

#instructions {
  display: none;
}

#results,
body:hover #instructions {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.75);
}

#results {
  display: none;
  cursor: default;
}

#results .content,
#instructions .content {
  max-width: 500px;
  padding: 50px 10px;  
  border-radius: 20px;
  margin-top: 0;
}

.content h3{
  margin-top: 5px;
  text-align: center;
}

.content h1{
  margin-bottom: 0;
}


#score {
  position: absolute;
  color: white;
  font-size: 2em;
  font-weight: bold;
  top: 30px;
  right: 30px;
}
#highscore {
  position: relative;
  color: white;
  font-size: 1em;
  font-weight: bold;
  top: 2px;
  left: 30px;
}
.highscore {
  position: absolute;
  display: flex;
  color: white;
  font-size: 2em;
  font-weight: bold;
  top: 30px;
  left: 30px;
}
